body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
  max-width: 900px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.card {
  border: 1px solid lightslategray;
  border-radius: 0.5rem;
  padding: 5px;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 1s;
}
[class^="col"] {
  padding: 0.5rem;
}
.col {
  flex: 1 0 0;
}
.col-auto {
  flex: 0 0 auto;
}
.col-1 {
  flex: 0 0 8.33333333%;
}
.col-2 {
  flex: 0 0 16.66666667%;
}
.col-3 {
  flex: 0 0 25%;
}
.col-4 {
  flex: 0 0 33.33333333%;
}
.col-5 {
  float: 0 0 41.66666667%;
}
.col-6 {
  flex: 0 0 50%;
}
.col-7 {
  flex: 0 0 58.33333333%;
}
.col-8 {
  flex: 0 0 66.66666667%;
}
.col-9 {
  flex: 0 0 75%;
}
.col-10 {
  flex: 0 0 83.333333333%;
}
.col-11 {
  flex: 0 0 91.666666667;
}
.col-12 {
  flex: 0 0 100%;
}